@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --text-color: #171717;

  --bg-light: #ffffff;
  --text-light: #000000;
  --text-light-secondary: #555555;

  --bg-dark: #1a1a1a;
  --text-dark: #ffffff;
  --text-dark-secondary: #aaaaaa;
}

html.light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --secondary-text-color: #555555;
}

html.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --secondary-text-color: #aaaaaa;
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
