@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --text-color: #171717;

  --bg-light: #ffffff;
  --text-light: #000000;
  --text-light-secondary: #555555;

  --bg-dark: #1a1a1a;
  --text-dark: #ffffff;
  --text-dark-secondary: #aaaaaa;
}


html {
  transition: color 0.3s ease, background-color 0.3s ease;
}
html.light {
  color-scheme: light;
  background-color: #ffffff;
  color: #000000;
}
html.dark {
  color-scheme: dark;
  background-color: #000000;
  color: #ffffff;

}

body {
  font-family: Arial, Helvetica, sans-serif;
}
